p {
    font-family: "Courgette", cursive;
    font-size: 3rem;
    font-weight: bolder;
}
.title-description {
    font-family: "Bangers", cursive;
    font-size: 3.5rem;
    text-align: center;
}
#description {
    font-weight: lighter;
    font-size: 2rem;
}
h4 {
    font-size: 1.2rem;
}
p {
    text-align: center;
}
img {
    align-items: center;
}