body {
  font-family: "Bangers", cursive;
  position: relative;
}
.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 1rem;    /* Footer height */
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../image/img6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.85;
  z-index: -1;
}
.description {
  font-size: 2rem;
}

.slogan {
  font-size: 2rem;
}
p {
  font-family: "Courgette", cursive;
  font-size: 1rem;
}
nav ul a {
  font-size: 2rem;
}
h2 {
  font-size: 4rem;
}
figure {
  display: flex;
  border: 2px rgb(102, 66, 66) solid;
}


.aboutHead {
  display: inline;
  align-items: center;
}

.aboutHead p {
  font-size: 1.5em;
}

.groupmem {
  display: flex;
  border: 2px solid black;
  justify-content: center;
}

footer {
  font-family: "Courgette", cursive;
  text-align: center;
  font-size: 1.2rem;
  position: absolute;
  bottom: auto;
  height: 35px;
  width: 100%;
}

.modal {
  background: url(../image/form.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

